<mat-nav-list>
  <a mat-list-item routerLink="/home" (click)="onSidenavClose()">
    <mat-icon>home</mat-icon> <span class="nav-caption">Home</span>
  </a>
  <a mat-list-item href="https://www.aopcongress.com/en/attend/aop-paris-2020" title="Attend" (click)="onSidenavClose()">
    <span class="nav-caption">Attend</span>
  </a>
  <a mat-list-item href="https://www.aopcongress.com/en/exhibit/aop-paris-2020" title="Exhibit" (click)="onSidenavClose()">
    <span class="nav-caption">Exhibit</span>
  </a>
  <a mat-list-item href="https://www.aopcongress.com/en/about" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="" (click)="onSidenavClose()">
    <span class="nav-caption">About</span>
  </a>
  <a mat-list-item href="https://www.aopcongress.com/en/login" (click)="onSidenavClose()">
    <span class="nav-caption">Login</span>
  </a>
  <a mat-list-item href="https://www.aopcongress.com/en/account/create">
    <a class="nav-caption aop-button-account aop-button-lined dark-pink">Create an account</a>
  </a>
  <a mat-list-item href="https://www.aopcongress.com/en/academy/home">
    <a class="nav-caption aop-button-account aop-button-lined aop-academy-button aop-button-rounded blue">AOP Academy</a>
  </a>
  <br>
  <span class="aop-language-flag-wrapper">
      <a hreflang="en" href="https://www.aopcongress.com/en" title="English"><img src="https://www.aopcongress.com/img/flags/en.png"></a>
  </span>
  <span class="aop-language-flag-wrapper">
    <a hreflang="fr" href="https://www.aopcongress.com/fr" title="français"><img src="https://www.aopcongress.com/img/flags/fr.png"></a>
  </span>
</mat-nav-list>
