a {
  text-decoration: none;
  color: white;
}

a:hover, a:active{
  color: lightgray;
}

.aop-logo {
  height: 39px;
  margin-left: 15px;
  margin-right: 8px;
}

.navigation-items{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

@media(max-width: 959px){
  mat-toolbar{
    border-radius: 0px;
  }
}