<section fxLayout="column wrap">
  <div class="aop-home-wrapper">
    <div class="header">
      <div class="aop-home-cover" style="background-image: url('https://www.aopcongress.com/img/aop/aop-bg-cover.jpg')">
        <div class="aop-home-filter"></div>
        <div class="aop-home-cover-content full-height">
          <div class="container">
            <h1 style="font-size: 3.5em; margin-bottom: 0;">AOP</h1>
            <h1>See ophthalmology in a different light</h1>
            <h2>Thank you very much for your presence to the 31st edition of AOP</h2>
            <div class="aop-home-bottom-content">
              <p class="aop-home-date-info">
                Save the date <br>32nd edition of AOP congress, 10-11 January 2020<br>Palais des Congrès, Paris
              </p>

              <br>
              <a class="aop-button-rounded pink" href="https://www.aopcongress.com/en/attend/aop-paris-2018/evaluation">AOP 2018 - Get your Certificate of Attendance</a>

            </div>
          </div>
        </div>

      </div>

    </div>


    <div class="aop-home-main-content">
      <div class="container">
        <div class="row"></div>
      </div>
    </div>
  </div>
</section>